body {
    background-color: antiquewhite;
}

.menu-header {
    display: flex;
    justify-content: end;
}

.menu-header li {
    list-style: none;
    margin: 0 5px;
}

.menu-header .current_page_item a {
    color: red;
}


.logo {
    padding: 18px 0;
    width: 28%;
}

.logo h1 {
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
}

.logo a {
    display: block;
}

.logo a,
.logo p {
    color: #777;
}

.logo img {
    max-height: 8rem;
    margin: 0 auto;
    width: auto;
}

.tagline {
    font-size: 13px;
    color: #828181;
    display: block;
    letter-spacing: 1px;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

ul {
    list-style: inside none disc;
}

ol {
    list-style: decimal;
}

ul li,
ol li {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: 700;
}

dd {
    margin: 0 1.5em 1.5em;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

img {
	height: auto;
	max-width: 100%;
}

svg:not(:root) {
    overflow: hidden;
}


.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.gallery-columns-2 {
	grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
	grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
	grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
	grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
	grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
	grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
	grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
	grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
	display: block;
}