body {
    background-color: antiquewhite;
}

.menu-header {
    display: flex;
    justify-content: end;
}

.menu-header li{
    list-style: none;
    margin: 0 5px;
}

.menu-header .current_page_item a {
    color: red;
}